* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: 0;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.4rem;
  background: rgb(77, 22, 135);
  background: linear-gradient(
    90deg,
    rgba(77, 22, 135, 1) 0%,
    rgba(108, 26, 120, 1) 34%,
    rgba(73, 44, 125, 1) 59%,
    rgba(15, 18, 83, 1) 100%
  );
}

.header-mid {
  position: relative;

  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-right: 9rem;
}

.header-left {
  float: left;
  text-align: center;
  font-size: 1.2rem;
  margin-left: 0.8rem;
  text-decoration: none;
}

.header-right {
  float: right;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.header-right a {
  padding: 0.3rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.header-left a {
  padding: 0.4rem;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.banner {
  background-image: url(./img/2738.jpg);
  background-position: 0rem -14.5rem;
  background-repeat: no-repeat;
  height: 45vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(240, 163, 163);
}

.banner p {
  margin-left: 47rem;
  font-size: 1.5rem;
}
.banner h2 {
  margin-top: 5rem;
  margin-left: 47rem;
  font-size: 3rem;
}

/* .banner h2 {
  position: absolute;
  font-size: 3rem;
  top: 20rem;
  left: 58rem;
} */

/* .banner p {
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  left: 68rem;
  top: 23.5rem;
} */

.between {
  padding: 1.5rem;
  align-items: center;
  background: rgb(15, 18, 83);
  background: linear-gradient(
    90deg,
    rgba(15, 18, 83, 1) 0%,
    rgba(73, 44, 125, 1) 37%,
    rgba(108, 26, 120, 1) 61%,
    rgba(77, 22, 135, 1) 100%
  );
}
.between h2 {
  margin-top: 0.6rem;
  position: absolute;
  color: white;
}
.link-button {
  float: right;
}

.link-button button {
  padding: 1rem 2rem;
  border: 0px;
  background-color: #2b1f67;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3rem;
}
.link-button input {
  padding: 1rem 2rem;
  background-color: #383070;
  border: 0px;
  border-radius: 3rem;
}
::placeholder {
  color: white;
  opacity: 1;
}

.main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.case {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.case img {
  margin-bottom: 2rem;
  width: 50%;
}

.mouse {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mouse img {
  /* margin-top: 10rem; */
  margin-bottom: 2rem;
  width: 46%;
}

.monitor {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.monitor img {
  margin-bottom: 2rem;
  width: 52%;
}

footer img {
  width: 10%;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(15, 18, 83);
  background: linear-gradient(
    90deg,
    rgba(15, 18, 83, 1) 7%,
    rgba(73, 44, 125, 1) 24%,
    rgba(77, 22, 135, 1) 41%,
    rgba(108, 26, 120, 1) 71%,
    rgba(108, 26, 120, 1) 96%
  );
  color: rgba(255, 255, 255, 0.363);
  text-align: center;
}
